/***********************************
This CSS script is Written By Kazeem Asifat
The script can be used by anyone but with proper credit to Kazeem Asifat
+2348139248444
asifatkazeem@yahoo.com
************************************/

html {
	/*scroll-behavior: smooth;*/
}
/*-----------------Header Style------------------*/
body {
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans', sans-serif;
	box-sizing: border-box;
}
#header {
	height: 100vh;
	background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../images/background.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}
.user-box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.user-box img {
	height: 250px;
	width: 250px;
	border: 2px solid #fff;
	border-radius: 50%;
}
.user-box h1 {
	color: #fff;
	font-size: 40px;
	font-weight: bold;
	margin: 10px;
}
.user-box p {
	color: #fff;
}
.scroll-btn {
	position: absolute;
	bottom: 40px;
	left: 50%;
	border: 2px solid #fff;
	padding: 20px 8px 30px;
	border-radius: 30px;
}
.fa-chevron-down {
	color: #fff;
	font-size: 20px;
}
.scroll-bar {
	animation: bouncer 1s infinite alternate;	
}
@keyframes bouncer {
	0% {transform: translateY(0px);}
	100% {transform: translateY(20px);}
}

/*-------------------About------------------*/
.about {
	padding-top: 100px;
	margin-bottom: -130px;
}
.col-md-6 h3 {
	margin: 10px;
}
.profile-img {
	height: 400px;
}
.nav-bar {
	position: sticky;
	top: 0;
	z-index: 4;
}
.navbar {
	background-color: #fff;
	transition: 0.3s;
	box-shadow: 4px 8px 8px #ddd;
}
.navbar-brand img {
	height: 50px;
}
.navbar-toggler {
	outline: none !important;
}
.fa-bars {
	color: #61186f !important;
	font-size: 35px;
}
.nav-link {
	color: #61186f !important;
}
.skills p {
	margin-bottom: 6px;
	font-weight: 600;
}
.progress {
	border-radius: 16px !important;
	margin-bottom: 10px;
}
.progress-bar {
	border-radius: 16px;
	background: #61186f;
}

/*--------------Resume---------------*/
.resume {
	margin-top: -50px;
	padding-top: 50px;
	padding-bottom: 30px;
	background-color: #f9f9f9; 
}
.resume h3 {
	margin-bottom: 50px;
}
.profile, .education {
	list-style-type: none;
	position: relative;
}
.profile:before, .education:before {
	content: '';
	position: absolute;
	left: 29px;
	width: 4px;
	height: 100%;
	display: inline-block;
	z-index: 1;
	background-color: #61186f;
}
.profile li, .education li {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	padding: 0 10px 10px;
	background-color: #fff;
}
.profile li:before {
	content: '';
	position: absolute;
	left: 20px;
	width: 20px;
	height: 20px;
	display: inline-block;
	border: 4px solid #61186f;
	outline: 4px solid #61186f;
	border-radius: 50%;
	background: #fff;
	z-index: 2;
}
.education li:before, .education li:after {
	content: '';
	position: absolute;
	left: 20px;
	width: 20px;
	height: 20px;
	display: inline-block;
	border: 6px solid #61186f;
	background: #fff;
	z-index: 2;
}
.profile li h4, .education li h4 {
	background-color: #61186f;
	border-radius: 5px;
	color: #fff;
	padding: 5px 0 5px 20px;
	font-size: 15px;
}

/*-------------Services----------------*/
.services {
	padding-top: 50px;
	.padding-bottom: 50px;
}
.services h1 {
	margin-bottom: 15px;
}
.services-box {
	background: #f9f9f9;
	padding: 10px;
	margin-top: 20px;
	border-top-left-radius: 50px;
	border-bottom-right-radius: 50px;
}
.services-box:hover {
	background: #61186f;
	color: #fff;
	border-top-left-radius: 50px;
	border-bottom-right-radius: 50px;
	transition: 1s;
}
.services-box .fa {
	margin: 0 10px;
	font-size: 20px;
}
.services-box span {
	margin: 3px;
	font-size: 20px;
	font-weight: bold;
}
.services-box p {
	font-size: 15px;
	margin-top: 20px;
	color: #777;
}
.services-box:hover p {
	color: #fff;
}


/*--------------------Contact--------------------*/
.contact {
	padding-top: 50px;
	background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../images/slide-2.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	color: #fff;
}
.contact .row {
	padding: 30px 0;
	font-size: 22px;
}
.contact .col-md-4 .fa {
	padding: 10px;
	font-size: 40px;
}
.contact .btn {
	padding: 10px 25px;
	margin: 5px;
	border-radius: 30px;
	background: #61186f;
	border: none;
}
.contact .btn:focus {
	box-shadow: none;
}
.contact .btn:hover {
	border: none;
	transition: 0.5s;
	background-color: #fff;
	color: #000;
}
.contact .btn a {
	color: #fff;
}
..contact .btn a:hover {
	color: #000;
}
.contact .btn .fa {
	margin-right: 10px;
}
.footer {
	background: #000;
	height: 50px;
	margin-top: 50px;
	color: #fff;
	padding-top: 10px;
}

/*------------Social icons------------*/
.social-icons {
	position: sticky;
	top: 50%;
	width: 80px;
	transform: translateY(-50%);
	z-index: 3;
}
.social-icons ul {
	padding: initial;
}
.social-icons ul li {
	height: 40px;
	width: 40px;
	list-style-type: none;
	padding-left: 12px;
	padding-top: 6px;
	margin-top: 5px;
	color: #fff;
	background: #61186f;
	transition: 0.6s ease-in-out;
}
.social-icons ul li:hover {
	padding-left: 30px;
	width: 80px;
}